body {
    display: flex;
    flex-direction: column;
    margin: 0px;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    background: #d1d1d1;       
}

.header {
    border-bottom: 1px solid;
}

.width-container {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 760px;
    margin-left:auto;
    margin-right:auto;
    padding: 0 16px;
}

.calc-header {
    font-size: 16px;
    font-weight: 900;
    text-align: end;
    padding-right: 6px;
}

.screen {
    height: 100px;
    border: 1px solid;
    border-radius: 8px;
}

.upper-screen, .main-screen {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 12px;
    
} 

.upper-screen {
    height: 30px;
    font-size: 20px; 
      
}

.main-screen {
    height: 70px; 
    font-weight: 900;
    font-size: 54px;   
}

.calc-container {
    flex: 1;
    margin-left:auto;
    margin-right:auto;    
}

.calculator {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;      
    width: 380px;
    height: 560px;
    border: 3px solid;
    border-radius: 20px;
    margin: 24px;
    padding: 12px;
}

.button-container {      
    display: flex;        
    justify-content: space-between;    
    height: 350px;
    gap: 6px;
    margin: 12px 0px;
}

.button-column {
    flex: 1;
    gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.calc-button {   
    flex: 1;
    background: rgb(230, 230, 230); 
    box-sizing: border-box;
    border: 1px solid;   
    border-radius: 8px; 
}

.logo {
    font-size: 24px;
    font-weight: 900;
    margin-right: 6px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;   
    height: 40px; 
    border-top: 1px solid;
}