body {
    display: flex;
    flex-direction: column;
    margin: 0px;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    background: #f3dfc8;       
}

.header {
    border-bottom: 1px solid #3b2d25;
}

.width-container {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 760px;
    margin-left:auto;
    margin-right:auto;
    padding: 0 16px;
}

.calc-header {    
    font-weight: 900;
    text-align: end;
    padding: 12px;
    color: #1C121A;
    border: 2px solid #1C121A;
    border-radius: 10px;
    background: #CDA474;
}

.calc-model {
    margin: 6px 0px 16px;
    font-size: 20px;
    border-bottom: 0.5px solid #1C121A;
}

.screen {
    height: 100px;
    border: 2px solid #1C121A;
    border-radius: 8px;
    background: #A4B4CD;
    box-shadow: inset 1px 1px 2px 1px #545c68;
}

.upper-screen, .main-screen {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 12px;
    color: #1C121A;
    
} 

.upper-screen {
    height: 30px;
    font-size: 20px;      
}

.main-screen {
    height: 70px; 
    font-weight: 900;
    font-size: 52px;   
}

.calc-container {
    flex: 1;
    margin-left:auto;
    margin-right:auto;    
}

.calculator {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;      
    width: 380px;
    height: 560px;
    border: 3px solid #2e2a35;
    border-radius: 20px;
    background: #494352;
    margin: 24px;
    padding: 12px;
    box-shadow: 0 6px #2e2a35;
}

.button-container {      
    display: flex;        
    justify-content: space-between;    
    height: 350px;
    gap: 6px;
    margin: 12px 0px 0px;
}

.button-column {
    flex: 1;
    gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.calc-button {   
    flex: 1;    
    box-sizing: border-box;
    border: 2px solid #1C121A;
    background: #CDA474;   
    border-radius: 8px; 
    font-weight: 900;
    font-size: 40px;
    color: #3b2d25;
    box-shadow: 0 3px #382c1f;
}

.calc-button:active {
    transform: translateY(2px);
    box-shadow: 0 1px
} 

.calc-button.brown {
    background: #9A7761;
    box-shadow: 0 3px #2b211b;
}

.calc-button.brown:active {
    transform: translateY(2px);
    box-shadow: 0 1px
}

#clear {
    background: #D25454;
    box-shadow: 0 3px #461e1e;
}

#clear:active {
    transform: translateY(2px);
    box-shadow: 0 1px
}

.logo {
    font-size: 24px;
    font-weight: 900;
    margin-right: 6px;
    color: #3b2d25;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;   
    height: 40px;    
    color: #3b2d25;
}